# Default behavior
* text eol=lf

# Explicitly declare text files
*.c text
*.cpp text
*.h text
*.hpp text
*.fs text
*.vs text
*.md text
*.obj text
*.mtl text
*.json text

# Declare files that will always have CRLF line endings on checkout
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.svg binary
*.blend binary
*.ttf binary
*.psd binary
*.afphoto binary
