# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj  # Allow Wavefront OBJ file format

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Libraries
external/glew/
external/glm/
external/SDL2/
external/nlohmann/

# Build directories
cmake-build*/

# IDE
.idea/

# Assets
assets/private/
